<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="{% url 'logout' %}"></a>
    <h1>Haloo {{ user.username }} donatur sugih bijak </h1>
    <h2>Daftar Proyek Petani</h2>
    
    {% for project in projects %}
    {% if project.status == 'aktif' %}
    <span style="color:green;">Sudah Diverifikasi</span>
    {% endif %}
    <div style="border:1px solid black; margin:10px; padding:10px;">
        <h3>{{ project.nama }}</h3>
        <p>Target: {{ project.target_dana }}</p>
        <p>Terkumpul: {{ project.dana_terkumpul }}</p>
        <p>Kebutuhan: {{ project.kebutuhan }}</p>
        
        {% if project.status == 'selesai' %}
        <p>Donasi sudah terpenuhi</p>
        {% else %}
        <a href="{% url 'danai_project' project.id %}">
            Danai
        </a>
        {% endif %}
        <a href="{% url 'lihat_laporan' project.id %}">
            Lihat Laporan
        </a>
    </div>
    {% empty %}
    <p>Belum ada proyek</p>
    {% endfor %}
    <a href="{% url 'home_d' %}">back</a>
</body>

</html>