<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Laporan Project: {{ project.nama }}</h2>
    
    {% for l in laporan %}
    <div style="border:1px solid #ccc; margin:10px; padding:10px;">
        <h3>{{ l.judul }}</h3>
        <p>{{ l.deskripsi }}</p>
        <p>Pengeluaran: Rp {{ l.jumlah_pengeluaran }}</p>
        <p>Tanggal: {{ l.tanggal }}</p>
    
        {% if l.bukti %}
        <img src="{{ l.bukti.url }}" width="200">
        {% endif %}
    </div>
    {% empty %}
    <p>Belum ada laporan dari petani</p>
    {% endfor %}
    <a href="{% url 'home_d' %}">back to home</a>
</body>
</html>