<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/style.js' %}"></script>
    <h1>Form Login</h1>

    <form method="post">
        {% csrf_token %}

        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br><br>

        <button type="submit">Login</button>
    </form>
    <p>belum punya akun?</p>
    <a href="{% url 'register' %}">register</a>
</body>

</html>