<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'assets/logo/Asset5.png' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{formd.as_p}}
    
        <h3>Kebutuhan Barang</h3>
    
        <div id="barang-wrapper">
            <div class="barang-item">
                <input type="text" name="nama_barang[]" placeholder="Nama barang">
                <input type="number" name="jumlah_barang[]" placeholder="Jumlah">
                <input type="number" name="harga_satuan[]" placeholder="Harga satuan">
                <input type="text" name="satuan[]" placeholder="Satuan (kg, pcs)">
            </div>
        </div>
    
        <button type="button" onclick="tambahBarang()">+ Tambah Barang</button>
        <button type="submit">kirim</button>
    </form>

</body>
</html>