<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- looping project -->
    {% for project in all %}
    <div>
        <h3>Nama projek {{ project.nama }}</h3>
        <h3>Deskripsi : {{ project.deskripsi }}</h3>
        <h3>Status : {{ project.status }}</h3>
        <a href="{% url 'tambah_laporan' project.id %}">
            tambah laporan
        </a>
    </div>
    {% empty %}
    <p>Belum ada project</p>
    {% endfor %}
    <a href="{% url 'home_p' %}">kembali ke home</a>
</body>
</html>